@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

.container {
  width: 40%;
  height: 100%;
  margin:3.125rem auto 0;
  font-family:'Comic Neue', cursive; 
}
